<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid px-lg-5">
    <a class="navbar-brand text-decoration-none text-light" routerLink="/">Angular Quiz</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link active text-decoration-none text-light" 
            aria-current="page" 
            routerLink="/">
          All Quizes
        </a>
        <a class="nav-link text-decoration-none text-light" href="#">
          Contact
        </a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>