
<section class="quiz ">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">  
        <div class="row">
          
          <!-- quiz-app-title section -->
          <div class="col-sm-6 offset-sm-3">
            <div class="quiz-title text-center">
              <p class="quiz-title__subtitle">Question-1</p>
                <h1 class="fw-bold">Start QUIZ app</h1>
              <p class="quiz-title__description">User interface design.One Awesome Flat Ui Kit in Psd format. 
                The pack ... Quiz App is a mobile UI kit created using Sketch and Photoshop, 
                aimed to help you kick start your next mobile quiz or trivia project</p>              
            </div>
          </div>

          <div class="col-8 offset-lg-2">
            <div class="row">
              <div class="col-6">
                Pasirinkimas
              </div>
              <div class="col-6">
                Pasirinkimas
              </div>
              <div class="col-6">
                Pasirinkimas
              </div>
              <div class="col-6">
                Pasirinkimas
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>


    <!-- progress-bar -->
    <div class="mt-5 mb-3">
      <progressbar [value]="55" type="warning" [striped]="true"></progressbar>
    </div>
  </div>


  
</section>


<router-outlet></router-outlet>
