/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/* Spalvu kintamieji */
$color-red : #f42e35;
$color-gray : #446d76;
$color-lightgray : #e7e7e7;
$color-black : #3c3c3c;
