/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

/* Spalvu kintamieji */
$color-red : #f42e35;
$color-gray : #446d76;
$color-lightgray : #e7e7e7;
$color-black : #3c3c3c;


body {
  /* Nustatome pagrindine teksto spalva visai svetainei */
  color: $color-black;
  font-family: Jost, sans-serif;
}

.text {
  // Sugeneruojama: .text-red
  &-red {
    color: $color-red;
  }

  // Sugeneruojama: .text-gray
  &-gray {
    color: $color-gray;
  }

  // Sugeneruojama: .text-black
  &-black {
    color: $color-black;
  }
}

.navbar {
  background-color: $color-black;
}

